<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>


<table>
    <thead></thead>
    <tbody id="ques"></tbody>
</table>





<script>
    fetch("/get_table")
        .then(res => res.json())
        .then(data => {
            let list = data.rows;
            let table = document.querySelector('#ques')
            for (let i = 0; i < list.length; i++) {
                let row = list[i];
                table.innerHTML += '<tr><td>' + row + '</td><input></tr>';
            }
        })
</script>

</body>
</html>